
    <div class="text-muted pt-3 border-top">
       <i class="fs-2 p-2 mx-2 bg-success text-light far fa-newspaper" style="float:left;"></i>
       

      <p class="pb-3 mb-0 small lh-sm">
        <strong class="text-gray-dark">{{title}} by {{user.username}} on {{format_date created_at}}</strong>
        <span class="d-block"> {{post_content}}</span>
        <span class="d-block fst-italic fw-lighter mt-1"> - I am a follower of all things tech.  </span>      
         
         <span class="m-2 p-2 d-block"><a class="text-decoration-none" href="/post/{{id}}">View Post & {{comments.length}} {{format_plural "comment" comments.length}}</a></span>
    
    </div> 